.sidebar-wrapper {
  width: 300px;
  height: 100vh;
  height: 944px;
  margin-right: 20px;
  position: relative;
  margin-top: 15px;

  .sidebar-blocks {
    margin-top: 200px;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
  }

  .sidebar-block1 {
    text-align: center;
    margin-top: -100px;
  }

  .sidebar-block1-parent {
    width: 200px;
    margin: 0 auto;

    .sidebar-block1-title {
      font-size: 17px;
      font-weight: bold;
      line-height: 20px;
      margin: 12px auto;
      width: 180px;
    }
  }

  .sidebar-block1-text {
    color: rgb(17, 17, 17);
  }

  .sidebar-block2 {
    margin-top: 60px;
    text-align: center;
  }

  .sidebar-block2-img {
    width: 200px;
    margin: 0 auto;
  }

  .sidebar-block2-title {
    font-size: 17px;
    font-weight: bold;
    max-width: 180px;
    margin: 12px auto;
    line-height: 20px;
  }
}
