
.icons-app {
  width: 214px;
  height: 38px;
  line-height: 38px;

  .iconapp {
    color: #fff;
    display: inline-block;
    padding: 0 10px;
    cursor: pointer;
    &:hover {
      background-color: #056a35;
    }

    img {
      position: relative;
      top: 5px;
    }
  }
}

// desktop

@media only screen and (min-width: 1024px) {
  .icons-app {
    display: block;
  }
}

// tablet
@media only screen  and (min-width: 768px)  and (max-width: 1023px) {
  .icons-app {
    display: none;
  }
}

// mobile
@media only screen  and (max-width: 767px) {
  .icons-app {
    display: none;
  }
}