
@import "../../../../variable/variable.scss";

.novelty-section {
  @include main-sections-styles();
}

.novelty-section-title {
  @include main-sections-title();
}

.showAll {
  @include showAll();
}


// desktop



// tablet

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .novelty-section-titles{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .novelty-section-title{
       padding: 0 10px;
       color: #000000;
       text-transform: capitalize;
       font-weight: normal;
       font-size: 16px;
    }

    .showAll{
        padding: 0 10px;
        padding-top: 15px;
        font-weight: normal;
     }
}


// mobile

@media only screen and (max-width: 767px) {
  .novelty-section-titles{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
  }

  .novelty-section-title{
     padding: 0 10px;
     color: #000000;
     text-transform: capitalize;
     font-weight: normal;
     font-size: 16px;
  }

  .showAll{
      padding: 0 10px;
      padding-top: 15px;
      font-weight: normal;
   }
}