/*
* Prefixed by:
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.currency {
  max-width: 133px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 34px;

  &:hover {
    background-color: #056a35;
  }

  .dropdown {
    position: relative;
  }

  .currency-dropdown-toggle {
    text-decoration: none;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .dropdown-arrow {
    width: 10px;
    height: 10px;
    background-color: none;
  }

  .currency-dropdown-menu {
    width: 135px;
    height: 120px;
    background-color: #fff;
    border-radius: 0;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 40px;
    z-index: 3;
    width: 100%;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    .currency-dropdown-item {
      height: 40px;
      text-decoration: none;
      color: #191919;
      font-size: 12px;
      line-height: 37px;
      padding-left: 20px;
      font-family: Roboto, Arial, Helvetica, sans-serif;

      &:hover {
        background-color: #056a35;
        color: #fff;
      }
    }
  }
}


// desktop
@media only screen  and (min-width: 1024px) {
  .currency-name {
    display: block;
  }
}

// tablet

@media only screen  and (min-width: 768px) and (max-width: 1023px) {
  .currency-name {
    display: none;
  }
  .currency{
    margin-right: 20px;
  }

  .currency-amd{
    margin-right: 10px;
  }

  .currency-dropdown-menu {
    width: 58px !important;
    height: 168px !important;
    position: absolute;
    top: 36px;
    left: 0;
    z-index: 6;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    .currency-dropdown-item {
      padding: 10px 0;
      margin-left: -10px;
      cursor: pointer;
      color: #fff;
    }
  }
}

// mobile

@media only screen  and (max-width: 767px) {
  .currency-name {
    display: none;
  }
  .currency{
    margin-right: 20px;
  }

  .currency-amd{
    margin-right: 10px;
  }

  .currency-dropdown-menu {
    width: 58px !important;
    height: 168px !important;
    position: absolute;
    top: 36px;
    left: 0;
    z-index: 6;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    .currency-dropdown-item {
      padding: 10px 0;
      margin-left: -10px;
      cursor: pointer;
      color: #fff;
    }
  }
}