
.my-shop-parent {
  display: none;
}

@media screen  and (min-width: 1024px) {
  .my-shop-parent {
    display: none !important;
  }

}

@media screen  and (min-width: 768px)  and (max-width: 1023px) {
  .my-shop-parent {
    display: block !important;
    margin-top: 5px;
  }

  .my-shop{
    width: 86px;
    height: 48px;
    background-color: green;
    margin-right: 10px;
    border-radius: 10%;
    margin-top: 20px;
  
  }

  .myshop-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .my-shop-img{
    width: 26px;
    border: none;
  }

  .my-shop-title{
    text-align: center;
    font-size: 10px;
    color: #fff;
  }
}


@media screen  and (max-width: 767px) {
  .my-shop-parent {
    display: block !important;
    margin-top: 5px;
  }

  .my-shop{
    width: 86px;
    height: 48px;
    background-color: green;
    margin-right: 10px;
    border-radius: 10%;
    margin-top: 20px;
  
  }

  .myshop-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .my-shop-img{
    width: 26px;
    border: none;
  }

  .my-shop-title{
    text-align: center;
    font-size: 10px;
    color: #fff;
  }
}