.action-book {
  width: 300px !important;
  height: 70px;
  line-height: 70px;
  font-size: 25px;
  padding: 0;
  z-index: 5;
  position: relative;
  display: block;
  border-radius: 4px;
  background-color: #056a35;
  color: #fff;
  border: none;
  cursor: pointer;
  text-align: center;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: #056a36f1;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
    padding: 0;
    z-index: 5;
    color: #ffffff;
    opacity: 1;
    width: 100%;
  }
}
