.basket-top-bar {
  display: none;
}

.basket-section {
  width: 100%;
}

.product-res {
  position: relative;
  padding: 10px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

.product-alink {
  text-decoration: none;
  color: #000;
}

.product {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 10px;
  padding: 20px 0 15px;
  position: relative;
}

.total {
  width: 100%;
}

.product-ress {
  width: 470px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.product-comment {
  display: none !important;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .basket-page .urls {
    display: none;
  }
  .basket-page .products-wrapper {
    position: relative;
    background: #fff;
  }
  .basket-title-wraper {
    display: none !important;
  }
  .table-header {
    display: none !important;
  }
  .category-header-parent {
    display: none;
  }
  .basket-top-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 5px;
    background-color: #ebebeb;
  }
  .basket-top-bar :nth-child(2) {
    display: none;
  }
  .basket-top-bar :nth-child(3) {
    color: #056a35;
  }
  .basket-top-bar-item {
    display: block;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: block;
    position: relative;
    height: 60px;
    line-height: 60px;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding: 0 15px;
    text-decoration: none;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
  }
  .basket-top-bar-item-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  .basket-top-bar-item-text :nth-child(2) {
    display: block;
    width: 14px;
    height: 14px;
    position: relative;
    right: -5px;
  }
  .product-descr {
    position: relative;
    background: #fff;
    padding-bottom: 30px;
    z-index: 2;
  }
  .img-parent {
    width: 180px !important;
    margin-right: 10px;
    text-align: center;
    padding-top: 10px;
    position: relative;
  }
  .img-parent img {
    max-width: 100%;
    max-height: 180px;
    margin: auto;
    min-width: 84px;
    min-height: 96px;
  }
  .product-res {
    position: relative;
    padding: 10px 0;
    width: 100% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 180px;
  }
  .product-ress {
    width: 100%;
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 10px;
    position: relative;
    height: 100%;
  }
  .product-name {
    width: 100% !important;
    line-height: 20px;
    font-size: 16px;
    font-weight: 500;
    padding-right: 26px;
    word-break: break-all;
  }
  .product-price {
    width: 100%;
    display: block;
    font-size: 18px;
    font-weight: 700;
    color: #d61b02;
    text-align: left !important;
    margin-bottom: 20px;
  }
  .total {
    display: none;
  }
  .quant {
    width: 100%;
    height: 38px;
    position: relative;
  }
  .minus-parent {
    display: block;
    width: 40px;
    height: 38px;
    cursor: pointer;
    background-color: #e1e1e1;
    font-size: 20px;
    line-height: 48px;
    font-weight: bold;
    text-align: center;
    position: relative;
    border-radius: 4px;
    border: none;
  }
  .minus-parent img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25px;
    height: 25px;
    margin: -13px auto auto -12px;
    text-indent: -9999px;
    color: #000;
    min-width: 25px;
    min-height: 25px;
  }
  .plus-parent {
    display: block;
    width: 40px;
    height: 38px;
    cursor: pointer;
    background-color: #e1e1e1;
    position: relative;
    font-size: 20px;
    line-height: 48px;
    font-weight: bold;
    text-align: center;
    border-radius: 4px;
    border: none;
  }
  .plus-parent img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25px;
    height: 25px;
    margin: -13px auto auto -12px;
    text-indent: -9999px;
    color: #000;
    min-width: 25px;
    min-height: 25px;
  }
  .product-count {
    width: 100% !important;
    display: block;
    margin: 0 30px;
  }
  .product-count input {
    width: 100% !important;
    text-align: center;
    font-weight: 500;
    font-size: 25px;
    padding: 0 8px;
    height: 38px;
    border-radius: 2px;
    position: relative;
    background-color: #fff;
    border: 1px solid #e1e1e1;
    min-width: 84px;
    min-height: 38px;
  }
  .actions {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    right: 5px;
    cursor: pointer;
    background-color: transparent;
  }
  .del-icon {
    width: 15px;
    height: 15px;
    vertical-align: top;
    color: #a4a4a4;
  }
  .product-comment {
    width: 100%;
    display: block !important;
    padding: 25px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .product-comment {
    width: 100%;
    padding: 25px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: block !important;
  }
  .product-comment span {
    color: #000;
    font-size: 14px;
    border-bottom: 1px solid #000;
    margin-top: 5px;
    line-height: 16px;
    margin-left: 20px;
    position: relative;
    width: 200px;
    word-break: break-all;
  }
  .product-comment span img {
    width: 15px;
    height: 15px;
    left: -18px;
    top: 1px;
    color: #000;
    position: absolute;
  }
  .product-comment .fav-product-comment {
    position: relative;
    vertical-align: top;
    background-color: #fff;
    border: 1px solid #e1e1e1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    outline: none;
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .basket-page {
    min-width: 1000px;
    max-width: 1300px;
    margin: 0 auto;
    min-width: 1300px;
    text-align: left;
    min-height: 100%;
    background: #fff;
    position: static;
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .basket-page .urls {
    display: none;
  }
  .basket-page .products-wrapper {
    position: relative;
    background: #fff;
  }
  .basket-title-wraper {
    display: none !important;
  }
  .table-header {
    display: none !important;
  }
  .category-header-parent {
    display: none;
  }
  .basket-top-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 5px;
    background-color: #ebebeb;
  }
  .basket-top-bar :nth-child(2) {
    display: none;
  }
  .basket-top-bar :nth-child(3) {
    color: #056a35;
  }
  .basket-top-bar-item {
    display: inline-block;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: block;
    position: relative;
    height: 60px;
    line-height: 60px;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding: 0 15px;
    text-decoration: none;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
  }
  .basket-top-bar-item-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  .basket-top-bar-item-text :nth-child(2) {
    display: block;
    width: 14px;
    height: 14px;
    position: relative;
    right: -5px;
  }
  .product-descr {
    position: relative;
    background: #fff;
    padding-bottom: 30px;
    z-index: 2;
  }
  .img-parent {
    width: 180px !important;
    margin-right: 10px;
    text-align: center;
    padding-top: 10px;
    position: relative;
  }
  .img-parent img {
    max-width: 100%;
    max-height: 180px;
    margin: auto;
    min-width: 84px;
    min-height: 96px;
  }
  .product-res {
    position: relative;
    padding: 10px 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 10px;
    padding: 20px 0 15px;
    position: relative;
    height: 100%;
  }
  .product-ress {
    width: 100%;
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .product-name {
    width: 100% !important;
    padding-bottom: 6px;
    line-height: 20px;
    font-size: 16px;
    font-weight: 500;
    padding-right: 26px;
    word-break: break-all;
  }
  .product-price {
    width: 100%;
    display: block;
    font-size: 18px;
    font-weight: 700;
    color: #d61b02;
    text-align: left !important;
    margin-bottom: 20px;
  }
  .total {
    display: none;
  }
  .quant {
    width: 100%;
    height: 38px;
    position: relative;
  }
  .minus-parent {
    display: block;
    width: 40px;
    height: 38px;
    cursor: pointer;
    background-color: #e1e1e1;
    font-size: 20px;
    line-height: 48px;
    font-weight: bold;
    text-align: center;
    position: relative;
    border-radius: 4px;
    border: none;
  }
  .minus-parent img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25px;
    height: 25px;
    margin: -13px auto auto -12px;
    text-indent: -9999px;
    color: #000;
    min-width: 25px;
    min-height: 25px;
  }
  .plus-parent {
    display: block;
    width: 40px;
    height: 38px;
    cursor: pointer;
    background-color: #e1e1e1;
    position: relative;
    font-size: 20px;
    line-height: 48px;
    font-weight: bold;
    text-align: center;
    border-radius: 4px;
    border: none;
  }
  .plus-parent img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25px;
    height: 25px;
    margin: -13px auto auto -12px;
    text-indent: -9999px;
    color: #000;
    min-width: 25px;
    min-height: 25px;
  }
  .product-count {
    width: 100% !important;
    display: block;
    margin: 0 30px;
  }
  .product-count input {
    width: 100% !important;
    text-align: center;
    font-weight: 500;
    font-size: 25px;
    padding: 0 8px;
    height: 38px;
    border-radius: 2px;
    position: relative;
    background-color: #fff;
    border: 1px solid #e1e1e1;
    min-width: 84px;
    min-height: 38px;
  }
  .actions {
    position: absolute;
    width: 20px;
    height: 20px;
    top: -5px;
    right: 5px;
    cursor: pointer;
    background-color: transparent;
  }
  .del-icon {
    width: 15px;
    height: 15px;
    vertical-align: top;
    color: #a4a4a4;
  }
  .product-comment {
    width: 100%;
    padding: 25px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: block !important;
  }
  .product-comment span {
    color: #000;
    font-size: 14px;
    border-bottom: 1px solid #000;
    margin-top: 5px;
    line-height: 16px;
    margin-left: 20px;
    position: relative;
    width: 200px;
    word-break: break-all;
  }
  .product-comment span img {
    width: 15px;
    height: 15px;
    left: -18px;
    top: 1px;
    color: #000;
    position: absolute;
  }
  .product-comment .fav-product-comment {
    width: 100%;
    position: relative;
    vertical-align: top;
    background-color: #fff;
    border: 1px solid #e1e1e1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    outline: none;
  }
}
/*# sourceMappingURL=styles.css.map */